tr,
th,
td {
  border: solid 1px black;
  padding: 10px;
  text-align: center;
}

i {
  margin-left: 8px;
}

th {
  font-family: 'Playball',
    cursive;
  letter-spacing: 2px;
  font-weight: bold;
  color: white;
  background-color: dodgerblue;
  font-size: x-large;
}

.rosterTable th {
  cursor: pointer
}
